h1 {

    color: whitesmoke;
    text-align: center;
    font-size: 72pt;
    font-family: "fabulosa", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {

    background-color: rgb(186, 221, 180);
}

img {

    max-width: 650px;
    width: 100%;

    padding-left: 220px;
    padding-bottom: 25px;
}

main > section > p {

    text-align: center;
    font-family: "polymath", sans-serif;
    font-weight: 100;
    font-style: normal;
    max-width: 750px;

    padding-left: 175px;
    padding-bottom: 25px;
}

footer {

    text-align: center;
    font-family: "polymath", sans-serif;
    font-weight: 500;
    font-style: normal;

    background-color: rgb(141, 173, 115);
    
    padding-top: 50px;
    padding-bottom: 25px;
}