/*
* {
    outline: 1px solid #000000;
}
    */

h1 {

    color: whitesmoke;
    text-align: center;
    font-size: 72pt;
    font-family: "fabulosa", sans-serif;
    font-weight: 400;
    font-style: normal;

    background-color: rgb(141, 173, 115);

    padding-top: 25px;
    padding-bottom: 25px;
}

body {

    background-color: rgb(186, 221, 180);
}

img {

    max-width: 650px;
    width: 100%;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

main > section > p {

    text-align: center;
    font-family: "polymath", sans-serif;
    font-weight: 100;
    font-style: normal;
    max-width: 725px;

    display: block;
    margin-left: auto;
    margin-right: auto;

    padding: 25px 0px;
}

footer {

    text-align: center;
    font-family: "polymath", sans-serif;
    font-weight: 500;
    font-style: normal;

    background-color: rgb(141, 173, 115);
    
    padding-top: 20px;
    padding-bottom: 15px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer > a {

    padding-left: 10px;
    padding-right: 10px;
}