/* * {

    outline: 1px solid aqua;
} */

body{

    font-size: 18pt;
    text-align: center;
}

.blue {

    color: blue;
}

.red {

    color: red;
}

.pink {

    color: pink;
}

.orange {

    color: orange;
}

.bold {

    font-weight: bold;
}

.italic {

    font-style: italic;
}

