/* * {

    outline: 1px solid aqua;
} */

body{

    font-size: 18pt;
    text-align: center;
}

.blue {

    color: blue;
}

.red {

    color: red;
}

.pink {

    color: pink;
}

.orange {

    color: orange;
}

.bold {

    font-weight: bold;
}

.italic {

    font-style: italic;
}

.western {

    font-family: "thornwood-vf", sans-serif;
    font-variation-settings: "wght" 200, "wdth" 50;
}

.space {

    font-family: "new-astro", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.tech {

    font-family: "coral-pixels", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

.horror {

    font-family: "cc-chills", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

.jazz {

    font-family: "swordfish", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.thick {

    font-family: "brothers", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.japanese {

    font-family: "tk-takumi-yutori-font-norm", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lightshade {

    /* background-color: rgb(210, 210, 210); */
}

.darkshade {

    /* background-color: darkgray; */
}

p.shaded {

    background-color: rgb(246, 241, 241);
}

h2.shaded {

    background-color: rgb(230, 225, 225);
}

h1#pageTitle {

    color: red;
}